/* Font: Karla
Farbe: #323A45 / #848484 */
/* font-family: 'Karla', sans-serif; */

/* 
##################################
        GENERAL
##################################
*/

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;600;700&display=swap');

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

html {
        font-size: 62.5%;
}

body {
        max-width: 1440px;
        margin: 0 auto;
}

.space {
        width: 90%;
        margin: 0 auto;
}

/* 
##################################
        HEADER
##################################
*/

/* 
# # # # # # # # # # # # # # 
        NAV
# # # # # # # # # # # # # # 
*/

/* 
##################################
        MAIN
##################################
*/

/* 
##################################
        FOOTER
##################################
*/