/* 
##################################
        GENERAL
##################################
*/

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,400&display=swap');

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

html {
        font-size: 62.5%;
        width: 80%;
        margin: 0 auto;
}

body {
        max-width: 1440px;
        margin: 5% auto 0 auto;
        font-family: 'Karla', sans-serif;
}

img {
        max-width: 100%;
}

img:hover {
        opacity: .2;
}

p {
        font-size: 1.5rem;
        line-height: 1.5;
        color: #323A45;
}

/* 
##################################
        HEADER
##################################
*/

header {
        display: flex;
        justify-content: space-between;
}

header a {
        color: #323A45;
        text-decoration: none;
}

header a:hover {
        color: #848484;
}

/* 
# # # # # # # # # # # # # # 
        NAV
# # # # # # # # # # # # # # 
*/

header nav {
        display: flex;
        justify-content: space-between;
        margin: 0 0 5% 0;
}

header nav ul {
        display: flex;
        width: 25vw;
        justify-content: space-between;
}

header nav ul li {
        list-style: none;
        font-size: 1.5rem;
}

header nav ul a:nth-of-type(3) li {
        letter-spacing: 3px;
}

header div {
        display: none;
}

header div span {
        display: block;
        background-color: black;
        width: 50px;
        height: 5px;
        margin: 5px 0;
        border-radius: 10px;
}

/* 
##################################
        MAIN
##################################
*/

.grid1 {
        display: grid;
        grid-template-rows: 1fr 0.75fr 0.75fr;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
                "img1 img1 img1"
                "img2 img3 img4"
                "img5 img6 img7"
        ;
        gap: 30px;
        margin: 0 0 5% 0;
}

.img1 {
        grid-area: img1;
}

.img2 {
        grid-area: img2;
}

.img3 {
        grid-area: img3;
}

.img4 {
        grid-area: img4;
}

.img5 {
        grid-area: img5;
}

.img6 {
        grid-area: img6;
}

.img7 {
        grid-area: img7;
}

.img1>div,
.img2>div,
.img3>div,
.img4>div,
.img5>div,
.img6>div,
.img7>div {
        display: flex;
        justify-content: space-between;
        margin: 15px 0 0 0;
}

.img1 div div p:nth-of-type(2),
.img2 div div p:nth-of-type(2),
.img3 div div p:nth-of-type(2),
.img4 div div p:nth-of-type(2),
.img5 div div p:nth-of-type(2),
.img6 div div p:nth-of-type(2),
.img7 div div p:nth-of-type(2) {
        color: #848484;
        margin: 0 0 20px 0;
}

.grid2 {
        display: grid;
        grid-template-rows: 1fr 0.75fr;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
                "img8 img8 img8"
                "img9 img10 img11"
        ;
        gap: 30px;
        margin: 0 0 40px 0;
}

.img8 {
        grid-area: img8;
}

.img9 {
        grid-area: img9;
}

.img10 {
        grid-area: img10;
}

.img11 {
        grid-area: img11;
}

.img8>div,
.img9>div,
.img10>div,
.img11>div {
        display: flex;
        justify-content: space-between;
        margin: 15px 0 0 0;
}

.img8 div div p:nth-of-type(2),
.img9 div div p:nth-of-type(2),
.img10 div div p:nth-of-type(2),
.img11 div div p:nth-of-type(2) {
        color: #848484;
        margin: 0 0 20px 0;
}

/* 
##################################
        FOOTER
##################################
*/

footer article {
        display: flex;
        justify-content: space-between;
        width: 85%;
}

footer article div:nth-of-type(1) {
        width: 30%
}

footer article div p:nth-of-type(1) {
        font-weight: 700;
        margin: 0 0 3% 0;
}

footer article div:nth-of-type(1) span {
        font-weight: 700;
}

footer article div:nth-of-type(3) span {
        font-weight: 800;
}

footer article div:nth-of-type(3) p:nth-of-type(3) {
        font-style: italic;
}

footer>p {
        color: #848484;
        margin: 4% 0 3% 0;
}

/* 
##################################
        MEDIA QUERIES
##################################
*/

@media only screen and (max-width: 768px) {

        header {
                display: flex;
                align-items: center;
                margin: 0 0 5% 0;
        }

        header nav ul a li {
                display: none;
        }

        header div {
                display: block;
        }

        .grid1,
        .grid2 {
                display: flex;
                flex-direction: column;
        }

        footer article {
                display: flex;
                flex-direction: column;
        }

        footer article div:nth-of-type(1) {
                width: 100%;
        }

        footer article div p:nth-of-type(1) {
                margin: 5% 0;
        }

        footer>p {
                margin: 5% 0 0 0;
        }
}